<h1>Admin</h1>
<div ng-if="admin.loggedIn">
  <p>
    Logged in<span ng-if="admin.username"> as <strong>{{admin.username}}</strong></span>
  </p>
  <p ng-if="admin.edit === admin.createNew">
    <a data-ng-href="/admin?create">Create a new op</a>
  </p>
  <div ng-if="admin.edit">
    <h2>Update op</h2>
    <formforop model="admin" />
  </div>
  <div ng-if="admin.createNew">
    <h2>Create a new op</h2>
    <formforop model="admin" />
  </div>
  <opstable ng-if="admin.edit === admin.createNew" ops="admin.tableParams" editable="true" remove="admin.remove"/>
</div>
<div ng-if="!admin.loggedIn">
  <p>
    You are not logged in!
  </p>
</div>
