<% content_for :title, "Mina API-nycklar" %>

<p>
  Du är inloggad med <strong><%= current_user.email %></strong>
  <% if admin? %>
    och har <strong>administratörsrättigheter</strong>
  <% end %>
</p>

<% if admin? %>
  <%= render "keys/keys" %>
  <%= render "keys/admin" %>
<% else %>
  <%= render "keys/keys" %>
<% end %>
