<form>
  <div class="form-group">
    <label for="name">Name</label>
    <input required ng-model="model.op.item" type="text" class="form-control" id="name">
  </div>
  <div class="form-group">
    <label for="note">Note</label>
    <input required ng-model="model.op.note" type="text" class="form-control" id="note">
  </div>
  <div class="form-group">
    <label for="tags">Tags</label>
    <input required ng-model="model.tags" type="text" class="form-control" id="tags">
  </div>
  <div class="form-group">
    <label for="lng">Longitude</label>
    <input required ng-model="model.position.lng" type="text" pattern="[0-9]+([,\.][0-9]+)?" step="0.000001" class="form-control" id="lng">
  </div>
  <div class="form-group">
    <label for="lat">Latitude</label>
    <input required ng-model="model.position.lat" type="text" pattern="[0-9]+([,\.][0-9]+)?" step="0.000001" class="form-control" id="lat">
  </div>
  <div class="form-group">
    <label for="place">Place</label>
    <input required ng-model="model.position.place" type="text" class="form-control" id="place">
  </div>
  <div class="form-group">
    <label for="region">Region</label>
    <input required ng-model="model.position.region" type="text" class="form-control" id="region">
  </div>
  <div class="form-group">
    <label for="country">Country</label>
    <input required ng-model="model.position.country" type="text" class="form-control" id="country">
  </div>
  <div ng-if="model.edit">
    <button ng-click="model.update()" type="submit" class="btn btn-default">Update</button>
    <input ng-click="model.remove()" type="remove" value="Remove" class="btn btn-default" />
    <input ng-click="model.reset()" type="reset" value="Reset" class="btn btn-default" />
    <input ng-click="model.cancel()" type="cancel" value="Cancel" class="btn btn-default" />
  </div>
  <div ng-if="model.createNew">
    <button ng-click="model.create()" type="submit" class="btn btn-default">Save new</button>
    <input ng-click="model.reset()" type="reset" value="Reset" class="btn btn-default" />
    <input ng-click="model.cancel()" type="cancel" value="Cancel" class="btn btn-default" />
  </div>
</form>
